# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
[Bb]uild/

# Logs
*.log

# Rider / VS Code
.idea/
.vscode/

# NuGet
packages/
*.nupkg

# OS
Thumbs.db
.DS_Store

# Secrets / Config
appsettings.json
ApiConfig.json
*.env
