# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates,
*.tmp
*.trace

# Build
bin/
obj/

# Logs
*.log

# Rider / VS Code
.idea/
.vscode/

# NuGet
packages/
*.nupkg

# OS
Thumbs.db
.DS_Store

# Secrets / Config
appsettings.json
ApiConfig.json
*.env
