<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Api.BaseUrl" value="https://api.rastroverde.com/" />
		<add key="Api.TimeoutSeconds" value="10" />
		<add key="Api.ApiKey" value="" />
		<add key="Api.DeviceId" value="PC-01" />
		<add key="Api.Enabled" value="true" />
		<add key="Api.SnapshotsEndpoint" value="rfid/trays" />
		<add key="Api.TagsEndpoint" value="rfid/tags" />
		<add key="Api.SendTagEvents" value="false" />
		<add key="LocalApi.BaseUrl" value="http://localhost:8085/" />
		<!-- TODO: Tray.IdleTimeoutSeconds por cliente/zona -->
	</appSettings>
</configuration> 