<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Api.BaseUrl" value="" />
		<add key="Api.TimeoutSeconds" value="10" />
		<add key="Api.ApiKey" value="" />
		<add key="Api.DeviceId" value="PC-01" />
	</appSettings>
</configuration>